<!-- index.html -->
{% extends "base.html" %}

{% block content %}
    <h1> Bienvenidos a VicaSoft </h1>
    <p> Esta es la pagina de inicio </p>
    <div class="card-group">
        <div class="card">
            <img src="https://www.dice.com/binaries/content/gallery/dice/insights/2013/06/unity-editor-2.jpg" class="card-img-top"
            alt="Hollywood Sign on The Hill" />
        <div class="card-body">
            <h5 class="card-title">Unity</h5>
            <p class="card-text">
            
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted"></small>
        </div>
        </div>
        <div class="card">
            <img src="https://www.dice.com/binaries/content/gallery/dice/insights/2013/06/unity-editor-2.jpg" class="card-img-top"
            alt="Palm Springs Road" />
        <div class="card-body">
            <h5 class="card-title">Unity</h5>
            <p class="card-text">

            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted"></small>
        </div>
        </div>
        <div class="card">
            <img src="https://www.dice.com/binaries/content/gallery/dice/insights/2013/06/unity-editor-2.jpg" class="card-img-top"
            alt="Los Angeles Skyscrapers" />
        <div class="card-body">
            <h5 class="card-title">Unity</h5>
            <p class="card-text">
            
            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted"></small>
        </div>
        </div>
    </div>
{% endblock %}
